@import "../../styles/colors.scss";

.inputWrap {
  margin-top: 24px;
  display: flex;
  position: relative;
  align-items: center;

  input {
    flex-grow: 1;
  }

  .status {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: $red;
    position: absolute;
    right: 8px;
    font-size: 12px;
    cursor: help;
  }

  .statusError {
    background: $red;
  }

  .statusSuccess {
    background: $green;
  }
}